<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager"/>
  
  <node pkg="nodelet" type="nodelet" name="classifier"
        args="load activity_recognition_server::ClassifierNodelet nodelet_manager">
  </node>

  <node pkg="nodelet" type="nodelet" name="descriptor"
        args="load activity_recognition_server::FeatureDescriptorNodelet nodelet_manager">
  </node>

  <node pkg="nodelet" type="nodelet" name="robot"
        args="load activity_recognition_server::ServiceRobotNodelet nodelet_manager">
  </node>
</launch>
